.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: beige;
}

@font-face {
    font-family: "Pokemon_Font";
    src: url(PocketMonk-15ze.ttf);
}

.header {
    grid-area: 1/1/2/6;
    background: beige;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonBox {
    grid-area: 2/1/6/4;
    background:beige;
    height: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pokemon_Font";
    color: black;
    font-size: large;
    padding: 10px;
}

.pokemonInfo {
    color: yellowgreen;
    justify-content: end;
    align-items: end;
    font-size: 35px;
    font-weight: 100;
}

.inputField {
    grid-area: 4/4/6/6;
    background: beige;
    justify-content: center;
    align-items: center;
}

.inputField #pokemonType{
    width: 300px;
}

.inputField button {
    background-color: beige;
    border: none;
}

.graphicField .pikachuTips{
    font-size: 35px;
}

.buttonField {
    grid-area: 5/4/6/6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonField button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:beige;
    background-color: lightskyblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: "Pokemon_Font";
    color: black;
  }
  
  .buttonField button:hover {background-color: yellow}
  
  .buttonField button:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.pikachuTips {
    display: inline-block;
    align-items: right;
    justify-content: right;
    font-family: "Pokemon_Font";
    font-size: 20px;
}

.graphicField {
    grid-area: 2/4/4/6;
    height: flex;
    background: beige;
    justify-content: right;
    align-items: right;
}

.pokemonBox img {
    width: 400px;
    height: 400px;
}

.inputField #pokemonType{
    font-family: "Pokemon_Font";
    font-size: 23px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}