.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: beige;
}

.header {
    grid-area: 1/1/2/6;
    background: #F1FF2E;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonBox {
    grid-area: 2/1/6/4;
    background: #06c3e4;
    height: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField {
    grid-area: 4/4/5/6;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}

.inputField button {
    background-color: white;
    border: none;
}

.buttonField {
    grid-area: 5/4/6/6;
}

.buttonField button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .buttonField button :hover {background-color: #3e8e41}
  
  .buttonField button :active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.graphicField {
    grid-area: 2/4/4/6;
    height: flex;
    background: #00ea40;
    justify-content: center;
    align-items: center;
}

.pokemonBox img {
    width: 400px;
    height: 400px;
}
